<!DOCTYPE html>
<html>

<link rel = "stylesheet" href = "css/style.css">

<center><br><p class = "textcolor">

<br></p></center>

<body>
    <header>
        <style>
body {
    background-image: url('background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
    </header>
 </body>   
 