<!doctype html>

<head>
<style>
a:link, a:visited {
    background-color: #C0C0C0;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #C0C0C0;
}
</style>
	
	<title>
		Tic-Tac-Toe
	</title>
	<link rel="stylesheet" href = "css/custom.css"/>
	<!-- <script type=” text/javascript” src=” js/formvalidation.js></script> -->
</head>

<body>

<center>
	<header>
	<p class="somecolor"; align="middle"; background-color: transparent;>
	<img src="tictactoe.png">
	</p>
		<ul>
		<font size ="1">
            <li class = "textcolor1"><a href = "/">Home</a></li>
            <li class = "textcolor2"><a href = "https://en.wikipedia.org/wiki/Tic-tac-toe"<>Rules and History</a></li>
            <li class = "textcolor2"><a href = "/player_1_name">Play Game</a></li>
        </ul>
        </font>
	</header>
	</center>
 

<%=yield%>

</body>
<center>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
	<footer data-role="footer" data-position="fixed" align="middle">
       <p><font size ="1"><a href = "http://www.minedminds.org"target = "_blank">Mined Minds</a><br>
       <a href="tel:724-250-8660">724-250-8660</a><br>
       &copy; 2016</font></p>
</footer>
</html>


