<!DOCTYPE html>
<html>
<link rel = "stylesheet" href = "css/style.css">
<center>
You do have friends!!</br>
I was getting worried...</br>
Ok friend, what is your name?





<form method = "post" action = "player_2_name">

	<input type = "text" name = "player_2_name">

<br>

<input type = "submit">

</form>
</center>